<! ADDED acts_as_indexed :fields in phototag model >

<!search values bib=1 marathon=2 friends=3>

<%if @searchvar == "1" %>
    <% @images.each do |image| %>
       <%if @searchval == image.tag %>
         tags: <%=image.tag%> <br>
         <% @photos = Photo.find(image.photoid)%>
         <%= image_tag (@photos.userphoto.url) %> <br>
         <% @found = 1 %>
       <%end%>
    <%end%>    
    
    <% elsif @searchvar == "2"%>
<<<<<<< HEAD
        <% @marathons.each do |marathon| %>
        <table>
         <tr>
         	<th>Name</th>
         	<th>City</th>
         	<th>State</th>
         	<th>Country</th>
         	<th>Distance</th>
         </tr>
         <tr>
           <td><%= marathon.name %></td>
           <td><%= marathon.city %></td>
           <td><%= marathon.state %></td>
           <td><%= marathon.country %></td> 
           <td><%= marathon.distance %></td>
          </tr>
       </table>
         <%end%>
         <%@found = 1 %>
=======
       Your search for marathon 
       <% @marathons.each do |marathon| %>
         <%= marathon.name%>
         
         <% @found =1 %>
       <%end%>
    
      
>>>>>>> 786c3de4fe2b9734582b44d459ba268bdba0d6ca
<%end%>





<% if @found != 1 %>
   <h1>Could not find your request !</h1>
<%end%>

