<p id="notice">
	<%= notice %>
</p>

<table>
	<tr>
		<td>Name:</td>
		<td colspan="5"><%= @marathon.name %></td>
		<td>Date:</td>
		<td><%= @marathon.Date.strftime("%a %m/%d/%Y") %></td>
	</tr>

	<tr>
		<td>State:</td><td><%= @marathon.state %></td>
		<td>City:</td><td><%= @marathon.city %></td>
		<td>Country:</td><td><%= @marathon.country %></td>
		<td>Distance:</td><td><%= @marathon.distance %></td>
	</tr>
</table>

<h3>Runners</h3>
<table>
	<% runners = @marathon.users %>

	<% counter = 0 %>

	<% runners.each do |runner| %>

	<% photo = nil %>
	<% if runner.default_photo_id != nil %>
	<% photo = Photo.find(runner.default_photo_id) %>
	<% end %>

	<% if counter == 0%>
	<tr>
		<%end%>
		<% if photo != nil %>
		<%= link_to (image_tag (photo.userphoto.url(:small))), photo %>
		</br>
		<% end %>

		<%= link_to runner.fullname, profile_index_path(:user_id => runner.id) %>

		<% if counter == 2 %>
	</tr>
	<% counter = 0 %>
	<% else %>
	<% counter += 1%>
	<%end%>
	<%end%>

</table>

<h3>Photos</h3>
<table>
	<% counter = 0 %>
	<% @photos.each do |photo| %>

	<% if counter == 0%>
	<tr>
		<%end%>

		<td><%= link_to (image_tag (photo.userphoto.url(:small))), photo %></td>

		<% if counter == 2 %>
	</tr>
	<% counter = 0 %>
	<% else %>
	<% counter += 1%>
	<%end%>
	<%end%>
</table>

