

  <div id="content">
<h1>Welcome to marathon friends, a place to share marathon photos!</h1>

	<%= link_to 'All_Photos', photos_url%></br>
    <%=link_to 'Upload_Photos' ,new_photo_path %></br>
    <%=link_to 'My_Photos', myphotos_photos_path %></br>
    <%= link_to 'Trainings', trainings_path %></br>
    <%= link_to 'Site Admins', controller: "administrator", action: "index" %></br>
    <%= link_to 'My Profile', profile_index_path %></br>
    <%= link_to 'My Marathons', user_marathons_path %></br>   
    <%= link_to 'Newsfeed', newsfeed_main_path %>
