
<div id="sidebar">
    <h2>Menu 1</h2>
    <div class="sidemenu">
      <ul>
        <li><a href="http://www.free-css.com/">Snapp Happy</a></li>
        <li><a href="http://www.free-css.com/">OWD</a></li>
      </ul>
    </div>
    <h2>Menu 2</h2>
    <div class="sidemenu">
      <ul>
        <li><a href="http://www.free-css.com/">Item one</a></li>
        <li><a href="http://www.free-css.com/">Item two</a></li>
      </ul>
    </div>
    <h2>Menu 3</h2>
    <div class="sidemenu">
      <ul>
        <li><a href="http://www.free-css.com/">Item one</a></li>
        <li><a href="http://www.free-css.com/">Item two</a></li>
      </ul>
    </div>
  </div>
  <div id="content">
<h1>Welcome to marathon friends, a place to share marathon photos!</h1>

<%= link_to 'All_Photos', photos_url%>

<%=link_to 'Upload_Photos' ,new_photo_path %>

<%=link_to 'My_Photos', myphotos_photos_path %>

<%= link_to 'Trainings', trainings_path %>

<%= link_to 'Site Admins', admins_path %>
