<%= link_to "Add friend", {:action => "new"}%>
<%= link_to "Delete friend", {:action => "show"}%>
<%= link_to "Friend list", {:action => "index"}%>
<div id="content">
<table>
<tr>
	<th>First name</th>
	<th>Last name</th>
	<th>Email</th>
</tr>

<% for friend in @friends %>
<tr>
	<td><%= friend.first_name %></td>
	<td><%= friend.last_name %></td>
	<td><%= friend.email %></td>
	<td><%= link_to "Delete", {:controller => :friendship, :action => :destroy, :friend_id => friend.id, :method => :post} %></td>
</tr>
<% end %>

</table>
</div>
