<h1>Listing phototags</h1>

<table>
  <tr>
    <th>Photoid</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phototags.each do |phototag| %>
  <tr>
    <td><%= phototag.photoid %></td>
    <td><%= phototag.tag %></td>
    <td><%= link_to 'Show', phototag %></td>
    <td><%= link_to 'Edit', edit_phototag_path(phototag) %></td>
    <td><%= link_to 'Destroy', phototag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phototag', new_phototag_path %>
