<div id="no_sidebar">
</div>
<div id="content">
<h1>Listing photos</h1>

<table>
  <tr>
    <th>All Photos</th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    
    
    <td><%= link_to (image_tag (photo.userphoto.url(:small))), photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% uploadby=User.find(photo.user_id) %>
    <td> Uploaded by: <%= uploadby.first_name %> </td>
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New Photo', new_photo_path %> </br>
<%=link_to 'My_Photos', myphotos_photos_path %>

<br />
<br />
<%= link_to 'Home', root_path %>

</div>