<p id="notice"><%= notice %></p>

<p>
  <b><%= link_to 'Tag', new_phototag_path(:photoid => @photo.id) %></b>
    <% @phototags.each do |phototag| %>
      <% if @photo.id == phototag.photoid %>
        #<%= phototag.tag %>
      <%end%>
     <%end%>
</p>   

<br><%= image_tag @photo.userphoto.url%> </br>



<p>
  <%= link_to 'New Comment', new_comment_path(:photoid => @photo.id) %>
</p>

<br>

<table>
   <% @comments.each do |comment| %>
      <% if @photo.id == comment.photo_id %>
            <% commentby = User.find(comment.user_id)%>
	     <tr>    
	        <td><%= commentby.first_name %>:</td>
	        <td><%= comment.message %></td>
	     </tr>   
         <%end%>
   <%end%>
</table>


