<div id="no_sidebar">
</div>
<div id="content">
	<h2>Profile</h2>
	<table>
		<tr>
			<td ><h4>Name</h4></td>
			<td><%= @user.first_name %> <%= @user.last_name %></td>
			<td><%= link_to "Edit" %></td>
		</tr>
		<tr>
			<td><h4>Email</h4></td>
			<td><%= @user.email %></td>
			<td><%= link_to "Edit" %></td>
		</tr>
	</table>
</div>