<div id="no_sidebar">
</div>
<div id="content">
	<h2>Profile</h2>
	<table>
		<tr>
			<td ><h4>Name</h4></td>
			<td><%= @user.first_name %> <%= @user.last_name %></td>
			<td><%= link_to "Edit" %></td>
		</tr>
		<tr>
			<td><h4>Email</h4></td>
			<td><%= @user.email %></td>
			<td><%= link_to "Edit" %></td>
		</tr>
		<tr>
          <h4>Profile Picture</h4>
          <% @photos = Photo.all %>
          <% @photos.each do |photo| %>
             <% if photo.id == current_user.default_photo_id%>
                <% @found = 1 %>
                <%= link_to (image_tag (photo.userphoto.url)), photo %>
                <%= link_to 'Change', myphotos_photos_path%>
             <%end%>
          <%end%>  
          
          <% if @found != 1 %>
             <tr>You do not have default photo. Please select the default photo using this link</tr>
             <tr><%=link_to 'My photos', myphotos_photos_path %> </tr>
          <%end%>
          
		</tr>
		
		
	</table>
</div>