<!DOCTYPE html>
<html>
	<head>
		<title>Marathonrunnerphotos</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<!--<%= javascript_include_tag "jquery_ujs" %>-->
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js",
		"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>

	</head>
	<body>
		<div id="mainPan">
			<div id="topPan">
				<a href="http://0.0.0.0:3000/"><%= image_tag("logo.png") %></a>

				<% if user_signed_in? %>
				<span style="float:right;">Hello <%= current_user.first_name %>
					<%= link_to('Sign Out', destroy_user_session_path, :method => 'delete') %></span>
				<% else %>
				<span style="float:right;"><%= link_to('Sign In', new_user_session_path) %></span>
				<% end %>

				<div style="display:inline-block; float:right;">
					<br>
					<%= render '/search/form'%>
				</div>
			</div>

			<% if  user_signed_in?%>
			<div id="sidebar">
				<ul>
					<li>
						<%= link_to 'Home' , root_path %>
					</li>
					<li>
						<%= link_to 'Photos', photos_path %>
					</li>
					<li>
						<%= link_to "Friends", {controller: "friendship", action: "index"} %>
					</li>
					<li>
						<%= link_to('Event') %>
					</li>
					<li>
						<%= link_to 'Inbox', messages_path %>
					</li>
				</ul>
			</div>
			<% end %>

			<%= yield %>

		</div>

		<p class="notice">
			<%= notice %>
		</p>

		<p>
			<%= params[:alert] %>
		</p>

	</body>
</html>
